.App {
  text-align: center;
}

.App-header {
  background-color: #181717;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#title {
  font-size: 4rem ;
  color: #9e1f35;
  margin-top: .5rem;
  margin-bottom: .3rem;
  font-family: 'Jockey One', sans-serif;
}

#instuctions {
  color: white;
  font-size: 2.6rem ;
  margin-top: .2rem;
  margin-bottom: .3rem;
  font-family: 'Jockey One', sans-serif;
}

#button_2 {
  margin-top: 1rem;
}

.site {
  margin-top: 0px;
}

#address_span {
  color: gold;
  margin-bottom: 1rem;
}

.brewery_name {
  color: #a99924fa;
  font-size: 3rem;
  font-weight: 600
}

.desc_container{
  margin-bottom: 2px;
}

.brewery_address {
  font-size: 2rem;
  line-height: 1.5rem;
  margin-top: .4rem;
  margin-bottom: .4rem
}

.brewery_type {
  font-size: 1.8rem;
  line-height: 1.5rem
}

.brewery_link {
  font-size: 1.8rem;
  line-height: 1.5rem;
  margin-top: 1rem
}

#details_name{
  color: #9e1f35;
  font-size: 2.5rem;
  margin-top: .5rem;
  font-family: 'Jockey One', sans-serif;
}

#details_address{
  color: gold;
  margin-bottom: 3rem
}

#map{
  height:60vh ;
  width:60vh;
  margin-top: 1.3rem;
  margin-left: auto;
  margin-right: auto;
}

#marker{
  font-size:1.8rem
}

.ui.image.sticky{
  position: sticky;
  top: 0
}

.ui.container.lefty{
  display: flex;
}
